:root {
  --clr-primary-250: #e9dfd0;
  --clr-primary-750: #434343;
  --clr-secondary-500: #616161;

  --clr-secondary-850: #5c5c5c;
  --clr-secondary-750: #525252;
  --clr-secondary-250: hsl(36, 36%, 92%);

  // Font Family
  --ff-600: "Sarabun", sans-serif;
  --ff-400: "Lato", sans-serif;

  // Old Font Family
  // --ff-primary: "Hind Siliguri", sans-serif;
  // --ff-accent: "Mukta", sans-serif;
  // --ff-secondary: "Sarala", sans-serif;

  // Font Family Asigned
  --ff-primary: var(--ff-600);
  --ff-secondary: var(--ff-400);

  // Font Weight
  --fw-skinny: 300;
  --fw-regular: 400;
  --fw-bold: 900;

  // Spacing
  --letter-spacing: 0.2em;

  // Padding
  --padding-1: 1em;
  --padding-2: calc(2 * var(--padding-1));
  --padding-3: calc(3 * var(--padding-1));

  --fs-100: 1.1rem; //text #body
  --fs-200: 1.2rem; //h6 #light
  --fs-300: 1.5rem; //h5 #secondary
  --fs-400: 1.6rem; //h4 #primary
  --fs-600: 3rem; //h2 #ranking
  --fs-800: 8rem; //h1 #heavy

  // THE OTHER GOOD ONE
  // --fs-200: 1.2rem; //h6  #light
  // --fs-300: 1.6rem; //h5  #secondary
  // --fs-400: 2.1rem; //h4  #primary
  // --fs-600: 3.175rem; //h2  #ranking
  // --fs-900: 6.35rem; //h1  #heavy

  --fs-body: var(--fs-100);
  --fs-light: var(--fs-200);
  --fs-secondary: var(--fs-300);
  --fs-primary: var(--fs-400);
  --fs-ranking: var(--fs-600);
  --fs-heavy: var(--fs-900);
}

//Reset
html {
  font-size: 62.5%;
}
/* 10px @ 320px increasing to 24px @ 1920px */
@media (min-width: 320px) {
  :root {
    font-size: calc(0.625rem + (24 - 10) * ((100vw - 320px) / (1920 - 320)));
    /* Note: The calc base value (0.625rem) MUST be stated in REM to maintain accessibility */
    /* Where: calc = min_font_size_in_rem + (max_font_size - min_font_size) * ((100vw - min_viewport_including_px_unit) / (max_viewport - min_viewport)) */

    /* Safari resize fix */
    min-height: 0vw;
  }
}
/* Prevent scaling beyond this breakpoint */
@media (min-width: 1920px) {
  :root {
    font-size: 24px;
  }
}

body,
html {
  background: var(--clr-primary-750);
  color: var(--clr-primary-250);
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  min-height: 100vh;
}

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  all: initial;
  color: var(--clr-primary-250);
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

.App {
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

a:hover,
a:visited,
a:link,
a:active,
a {
  text-decoration: none;
  color: var(--clr-primary-250);
  cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// ---------------
// General Styling
// ---------------
.light {
  font-size: var(--fs-light);
  font-weight: var(--fw-regular);
  font-family: var(--ff-secondary);
  text-transform: capitalize;
}

.button {
  font-size: var(--fs-secondary);
  font-family: var(--ff-secondary);
  font-weight: var(--fw-regular);

  color: var(--clr-primary-250);
  background-color: var(--clr-secondary-500);

  padding-inline: 0.7em;
  padding-block: 0.35em 0.45em;

  border-radius: 0.7em;
  letter-spacing: 0.05em;

  text-transform: lowercase;
  cursor: pointer;
}
.button:hover {
  box-shadow: 0.0625em 0.125em 0.3125em 0em rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: 0.0625em 0.125em 0.3125em 0em rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0.0625em 0.125em 0.3125em 0em rgba(0, 0, 0, 0.33);
}
.button:active {
  transform: scale(0.95);
}

.body-text {
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
  font-family: var(--ff-secondary);
}

.secondary {
  font-size: var(--fs-secondary);
  font-weight: var(--fw-regular);
  font-family: var(--ff-secondary);
  // font-family: 'Lato', sans-serif;
}

.primary {
  font-size: var(--fs-primary);
  font-weight: var(--fw-regular);
  font-family: var(--ff-secondary);
}
.ranking {
  font-size: var(--fs-ranking);
  font-weight: var(--fw-regular);
  font-family: var(--ff-secondary);
}
.heavy {
  font-size: var(--fs-heavy);
  font-weight: var(--fw-bold);
  font-family: var(--ff-primary);
  line-height: 1;
}

.lowercase {
  text-transform: lowercase;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}

// flex utility
.full-vh {
  min-height: 100vh;
  min-height: 100dvh;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.text-center {
  text-align: center;
}

.padding-3 {
  padding: var(--padding-3);
}

.padding-3-block {
  padding-block: var(--padding-3);
}

.title-wrap {
  max-width: 15ch;
  word-wrap: break-word;
  white-space: normal;
}

.p-preview-text {
  display: block;
  display: -webkit-box;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical;
  max-width: minmax(20em, 25ch);
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;

  text-overflow: ellipsis;
  word-break: normal;
}

// ---------------
// Utility Classes
// ---------------

// Text Colors
.text-primary-250 {
  color: var(--clr-primary-250);
}
.text-primary-750 {
  color: var(--clr-primary-750);
}
.text-secondary-500 {
  color: var(--clr-secondary-500);
}

// BG Colors
.bg-primary-250 {
  background-color: var(--clr-primary-250);
}
.bg-primary-750 {
  background-color: var(--clr-primary-750);
}
.bg-secondary-500 {
  background-color: var(--clr-secondary-500);
}

// Font Family
.ff-primary {
  font-family: var(--ff-primary);
}
.ff-secondary {
  font-family: var(--ff-secondary);
}

// Font Weight
.fw-skinny {
  font-weight: var(--fw-skinny);
}
.fw-regular {
  font-weight: var(--fw-regular);
}
.fw-bold {
  font-weight: var(--fw-bold);
}

// Font Size
.fs-light {
  font-size: var(--fs-light);
}
.fs-secondary {
  font-size: var(--fs-secondary);
}
.fs-primary {
  font-size: var(--fs-primary);
}
.fs-ranking {
  font-size: var(--fs-ranking);
}
.fs-heavy {
  font-size: var(--fs-heavy);
}

// Cursor Type
.cursor-pointer {
  cursor: pointer;
}
