:root {
  --clr-primary-250: #e9dfd0;
  --clr-primary-750: #434343;
  --clr-secondary-500: #616161;

  // Font Family
  --ff-primary: 'Sarabun', sans-serif;;
  --ff-accent: 'Lato', sans-serif;
  --ff-secondary: 'Lato', sans-serif;
  
  // Old Font Family
  // --ff-primary: "Hind Siliguri", sans-serif;
  // --ff-accent: "Mukta", sans-serif;
  // --ff-secondary: "Sarala", sans-serif;


  // Font Family Asigned
  --ff-body: var(--ff-secondary);
  --ff-sub: var(--ff-accent);
  --ff-title: var(--ff-primary);

  // Font Weight
  --fw-skinny: 100;
  --fw-regular: 500;
  --fw-bold: 900;

  // Spacing
  --letter-spacing: 0.2em;

  // Padding
  --padding-1: 1rem;
  --padding-2: calc(2 * var(--padding-1));
  --padding-3: calc(3 * var(--padding-1));

  // Padding
  --padding-em-1: 1em;
  --padding-em-2: calc(2 * var(--padding-em-1));
  --padding-em-3: calc(3 * var(--padding-em-1));

  --fs-200: 1.2rem;
  --fs-400: 1.8rem;
  --fs-600: 3rem;
  --fs-800: 8rem;

  // experimental clamp transitions
  --fs-200: clamp(1.2rem, -3.3rem + 6vw, 1.5rem);
  --fs-400: clamp(1.8rem, -5.7rem + 10vw, 2.3rem);
  --fs-600: clamp(3rem, -9rem + 16vw, 3.8rem);
  // --fs-800: clamp(5rem, -14.5rem + 26vw, 6.3rem);

  // Font Size
  --fs-button: var(--fs-200);
  --fs-body: var(--fs-400);
  --fs-sub: var(--fs-600);
  --fs-title: var(--fs-800);

  // --NavDynamicHeight: 0;
}
// MediaQueries
$media-250: 30em;
$media-300: 35em;
$media-350: 40.25em;
$media-400: 50em;
$media-600: 60em;
$media-800: 84em;

//Reset
html {
  font-size: 62.5%;
}

body,
html {
  background: var(--clr-primary-750);
  color: var(--clr-primary-250);
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  min-height: 100vh;
}

::before,
::after {
  box-sizing: border-box;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

.App {
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

a:hover,
a:visited,
a:link,
a:active,
a {
  text-decoration: none;
  color: var(--clr-neutral-400);
  cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// ---------------
// General Styling
// ---------------

.base-button {
  font-size: var(--fs-body);
  font-weight: var(--fw-bold);
  font-family: var(--ff-sub);
  color: var(--clr-primary-250);
  background-color: var(--clr-secondary-500);
}

.base-body {
  font-size: var(--fs-body);
  font-weight: var(--fw-skinny);
  font-family: var(--ff-body);
  color: var(--clr-primary-250);
}

.base-sub {
  font-size: var(--fs-sub);
  font-weight: var(--fw-regular);
  font-family: var(--ff-sub);
  color: var(--clr-primary-250);
}

.base-title {
  font-size: var(--fs-title);
  font-weight: var(--fw-skinny);
  font-family: var(--ff-title);
  color: var(--clr-primary-250);
}

.style-button {
  padding-inline: var(--padding-3);
  border-radius: 1.5rem;
}

// flex utility

.full-vh {
  min-height: 100vh;
  min-height: 100dvh;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// .flex-footer {
//   // display: flex;
//   // flex-grow: 1;
//   // flex-direction: column;
//   // justify-content: flex-end;
//   // align-items: stretch;
// }

.text-center{
  text-align: center;
}

.padding-3 {
  padding: var(--padding-3);
}

.padding-3-block {
  padding-block: var(--padding-3);
}

// -------------
// Media Queries
// -------------

@media (min-width: 50em) and (max-width: 64em) {
  :root {
    --fs-200: 1.5rem;
    --fs-400: 2.3rem;
    --fs-600: 3.8rem;
    --fs-800: 6.3rem;

    --fs-200: clamp(1.5rem, -0.448rem + 2vw, 1.6rem);
    --fs-400: clamp(2.3rem, 0.352rem + 2vw, 2.4rem);
    --fs-600: clamp(3.8rem, -2.044rem + 6vw, 4.1rem);
    --fs-800: clamp(6.3rem, -3.44rem + 10vw, 6.8rem);
  }
}

@media (min-width: 64em) {
  :root {
    --fs-200: 1.6rem;
    --fs-400: 2.4rem;
    --fs-600: 4.1rem;
    --fs-800: 6.8rem;
    --fs-800: 15rem;
  }
}

// ---------------
// Utility Classes
// ---------------

// Text Colors
.text-primary-250 {
  color: var(--clr-primary-250);
}
.text-primary-750 {
  color: var(--clr-primary-750);
}
.text-secondary-500 {
  color: var(--clr-secondary-500);
}

// BG Colors
.bg-primary-250 {
  background-color: var(--clr-primary-250);
}
.bg-primary-750 {
  background-color: var(--clr-primary-750);
}
.bg-secondary-500 {
  background-color: var(--clr-secondary-500);
}

// Font Family
.ff-title {
  font-family: var(--ff-title);
}
.ff-sub {
  font-family: var(--ff-sub);
}
.ff-body {
  font-family: var(--ff-body);
}

// Font Weight
.fw-skinny {
  font-weight: var(--fw-skinny);
}
.fw-regular {
  font-weight: var(--fw-regular);
}
.fw-bold {
  font-weight: var(--fw-bold);
}

// Font Size
.fs-button {
  font-size: var(--fs-button);
}
.fs-body {
  font-size: var(--fs-body);
}
.fs-sub {
  font-size: var(--fs-sub);
}
.fs-title {
  font-size: var(--fs-title);
}

// Cursor Type
.cursor-pointer {
  cursor: pointer;
}
